.container {
        width:500px;
        margin-top:250px;
        margin-left:500px;
}
.white-keys kbd {
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 150px;
    margin-left: 2px;
    text-align-last: center;
    font-size:larger;
    border:solid darkgray 2px;
}
body {
    background-color: #b80846;
 }

.black-keys kbd{
    background-color: black;
    display: inline-block;
    width: 35px;
    height: 100px;
    color:white;
    text-align: center;
    font-size:smaller;
    display: inline-block;

}
.black1 {
    margin-left: 20px;
    position: relative;
    left: 20px;
    bottom:156px;
}

.black2 {
    margin-left: 20px;
    position: relative;
    right: -65px;
    bottom:156px;
}
